.app-pagination .pagination .page-item .page-link {
  color: #007bff;
  cursor: pointer;
}

.app-pagination .pagination .page-item.active .page-link {
  background-color: #007bff;
  border-color: #007bff;
  color: white;
}
