.app-pagination .page-item.disabled .page-link {
  color: #ccc;
  pointer-events: none;
}

.app-pagination .page-item.active .page-link {
  background-color: #0d6efd;
  color: #fff;
  border-color: #0d6efd;
}

.app-pagination .page-link {
  margin: 0 3px;
  padding: 0.5rem 0.75rem;
}
